<nav>
	<div class="nav-wrapper">
		<a href="#" class="hide-on-large-only brand-logo">WASSI</a>
		<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>
				<a class="dropdown-trigger" href="#!" data-target="profile-dropdown">Hello, Paola
					<i class="large material-icons right">arrow_drop_down</i>
					<i class="large material-icons right">account_circle</i>
				</a>
			</li>
		</ul>
	</div>
</nav>

<ul id="profile-dropdown" class="dropdown-content">
	<li><a href="#!">Profile</a></li>
	<li><a href="#!">Log Out</a></li>
</ul>
