<app-sidenav></app-sidenav>

<div class="content">
	<app-header></app-header>

	<div class="container">
		<h1>Accounts</h1>

		<div class="row">
			<div *ngFor="let account of accounts" class="col s12 m4">
				<div class="card">
					<div class="card-content">
						<span class="card-title">{{ account?.name }}</span>
						<ul>
							<li><b>Description:</b> {{ account?.description }}</li>
							<li><b>Balance:</b> {{ account.balance | currency }} {{ account?.currency }}</li>
						</ul>
					</div>
					<div class="card-action">
						<a href="#">See Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
