<ul id="slide-out" class="sidenav sidenav-fixed">
    <li class="logo-item center-align"><a href="#!">WASSI</a></li>
    <li class="menu-item"><a [routerLink]="['/']" routerLinkActive="router-link-active" >Dashboard<i class="left material-icons">home</i></a></li>
    <li class="menu-item"><a [routerLink]="['/accounts']" routerLinkActive="router-link-active" >Accounts<i class="left material-icons">home</i></a></li>
    <li class="menu-item"><a href="#!">Transactions<i class="left material-icons">home</i></a></li>
    <li class="menu-item"><a href="#!">Operations<i class="left material-icons">home</i></a></li>
	<li class="menu-item">
        <ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header">Lists
					<i class="left material-icons">home</i>
					<i class="right material-icons">arrow_drop_down</i>
				</a>
				<div class="collapsible-body">
					<ul>
					<li class="submenu-item"><a href="#!">First</a></li>
					<li class="submenu-item"><a href="#!">Second</a></li>
					<li class="submenu-item"><a href="#!">Third</a></li>
					<li class="submenu-item"><a href="#!">Fourth</a></li>
					</ul>
				</div>
			</li>
        </ul>
	</li>
	<li class="menu-item hide-on-med-and-up">
        <ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header">Account
					<i class="left material-icons">home</i>
					<i class="right material-icons">arrow_drop_down</i>
				</a>
				<div class="collapsible-body">
					<ul>
					<li class="submenu-item"><a href="#!">Profile</a></li>
					<li class="submenu-item"><a href="#!">Log Out</a></li>
					</ul>
				</div>
			</li>
        </ul>
	</li>
</ul>

